.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 18px 22px 22px;
  min-width: 100%;
  margin: 18px 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  background-clip: padding-box;
  transition: 0.1s;
}


@media (min-width: 955px) {
  .card {
    min-width: 200px;
    margin: 0 8px;
  }
}

.card:first-child,
.card:last-child {
  margin: 0;
}

.cardTitle {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.cardValue {
  font-size: 2rem;
}

.cardIcon {
  margin-bottom: 12%;
}

.infected {
  background-color: var(--lightYellow);
  color: var(--yellow);
}

.recovered {
  background-color: var(--lightGreen);
  color: var(--green);
}

.deaths {
  background-color: var(--lightRed);
  color: var(--red);
}