.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1080px;
  margin:0 auto;
  padding: 0 5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
}

.header p {
  color: #aab3ba;
}

.header p span {
  font-weight: bold;
}

.picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
}


