html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  :root {
    --primary: #007ee5;
    --lightGray: #aab3ba;
    --baseline: 1.5rem;
  
    --red: #EE3C3C;
    --yellow: #FFA200;
    --green: #34C635;
  
    --lightRed: #FEE2E1;
    --lightYellow: #FEF4E4;
    --lightGreen: #EBF9EB;
  }
  
  body {
    font: 100%/1.5 sans-serif;
    color: #3D464D;
  }